* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../img/BG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.CARD_ITEM {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

select {
    max-width: 200px;
    width: 100%;
}